.header-title {
    float: left;
}

.header-title a{
    font-size: 24px;
    color: #fff;
    line-height: 60px;
}

.header-user {
    float: right;
}

.login-box {
    width: 800px;
    margin: 64px auto;
}

.admin-box {
    width: 1080px;
    margin: 24px auto;
}

.pages-ctrl {
    text-align: center;
}

.editstyle{
    width:400px;
}