.header-title {
    float: left;
    font-size: 34px;
    color: #fff;
}

.header-user {
    float: right;
}

.login-box {
    width: 800px;
    margin: 64px auto;
}

.admin-box {
    width: 1080px;
    margin: 24px auto;
}